# Not needed npm stuff
package-lock.json
node_modules/
tsconfig.json
tsconfig.build.json
images/
test/
README-git
README-npm

# Ignore dev files
lib/*.ts

# Include typings files
!*.d.ts

# Ignore pics
*.png
